/* TODO:
1) body - done
2) header - done
3) main:
    a) left - done
    b) mid - done
    c) right
4) footer - done
5) modal - done

6) functions on arrows
 */

:root{
    --bg-color: rgba(0, 0, 0, 1);
    --font-color: rgba(167, 167, 167, 1);
    --accent1-color: rgba(74, 74, 240, 1);
}

*{
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    min-width: 98%;
    height: 920px; 
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

/* header section */
header {
    color: var(--font-color);
    width: 90%;
    height: 300px;
    border-bottom: 2px solid var(--font-color);
    display: none;
}

.snake-header-big {
    font-size: 100px;
    text-transform: uppercase;
    background-color: var(--bg-color);
    position: relative;
    margin-bottom: 0;
    letter-spacing: 4px;
    color: rgba(255,255,255,1);
} 

.snake-header-small {
    margin-top: -5px;
    font-size: 45px;
    color: rgba(255,255,255,0.9);
}

/* main section */
main {
    color: var(--font-color);
    width: 90%;
    height: 800px;
    display: flex;
    flex-direction: column;
}

/* main left */
.snake-game-info-left {
    height: 200px;
    width: 90%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.section {
    margin-right: 75px;
}

.snake-game-info-left:first-child{
    margin-left: 75px;
}

.snake-game-info-header {
    font-size: 55px;
    color: var(--accent1-color);
    margin-bottom: 0;
}

.snake-game-info-text {
    margin-top: 5px;
    font-size: 30px;
}

.snake-game-info-button {
    text-transform: uppercase;
    border: none;
    border-radius: 15px;
    height: 80px;
    width: 400px;
    font-weight: 1000;
    cursor: pointer;
    transition: 0.4s all;
    background: var(--font-color);
    color: black;
    position: absolute;
    top: 90%;
    left: -10%;
    transform: translate(50%, 50%);
    font-size: 2rem;
}

/* main mid */
.snake-game-table{
    margin: 0 auto;
    transform: scale(1.7);
    margin-top: 180px;
    padding-left: 7px;
}

.snake-game-table-row{
    width: 550px;
    height: 27px;
    margin: 0 auto;
}

.snake-game-table-row:first-child{
    margin-top: 15px;
}

.snake-game-table-pool{
    width: 25px;
    height: 25px;
    margin: 1px;
    background: var(--font-color);
    float: left;
    transition: background-color 0.15s;
}

.snake-game-table-fruit {
    background-color: rgba(255, 0, 0, 0.7);
}

#snake, #snakeFirst{
    background-color: var(--accent1-color);
}

#snakeFirst{
    animation: blink 2s infinite;
}

.snake-game-table-mouse {
    background-color: rgba(255, 166, 0, 0.7);
    animation: blink 1s infinite;
}

/* main right */
.snake-game-info-right .snake-game-info-header {
    font-size: 25px;
    display: none;
}

.snake-game-info-right .snake-game-info-text {
    font-size: 17px;
    display: none;
}

.spacebar-button {
    position: absolute;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 1000;
    color: black;
    width: 400px;
    height: 80px;
    background-color: var(--font-color);
    border-radius: 15px;
    top: 90%;
    left: 35%;
    transform: translate(50%, 50%);
}

/* footer section */
footer {
    color: var(--font-color);
    display: block;
    width: 90%;
    height: 60px;
    font-size: 18px;
    bottom: 0;
    position: absolute;
}

/* modal */
.snake-modal {
    position: absolute;
    display: none;
    width: 400px;
    height: 220px;
    top: 50%;
    left: 50%;
    border: solid 2px black;
    box-shadow: 3px 3px 10px 3px rgba(0,0,0,0.75);
    background: #FBFFF1;
    transform: translate(-50%,-50%) scale(2.3);
}

.snake-modal-baner {
    width: 100%;
    height: 25px;
    background: black;
    opacity: 0.7;
    color: #FBFFF1;
    display: flex;
    align-items: center;
}

.snake-modal-baner span {
    width: 50%;
    text-align: left;
    padding-left: 5px;
}

.snake-modal-baner .fa-times {
    transition: 0.3s all;
    cursor: pointer;
}

.snake-modal-baner-button {
    width: 50%;
    padding-left: 45%;
    color: #FBFFF1;
    border: 0;
    background: none;
}

.snake-modal-text {
    text-align: center;
    padding-top: 15px;
}

.snake-modal-text p:first-child {
    font-weight: bold;
}

.snake-modal-button {
    margin-top: 15px;
    border: none;
    border-radius: 500px;
    height: 25px;
    width: 40px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s all;
    background: #8999A6;
    color: black;
}

#speedModal {
    height: 300px;
}

#speedModal .snake-modal-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#speedModal .snake-modal-button {
    width: 100px;
}

.snake-info-button {
    position: absolute;
    top: 5%;
    left: 85%;
    width: 75px;
    height: 75px;
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    border-radius: 1024px;
    color: white;
    border: 5px solid white;
}

#snake-information {
    height: 300px;
    font-weight: normal;
}

#snake-information .snake-modal-text {
    padding: 5px 5px;
}

#snake-information .snake-modal-text p:first-child {
    font-weight: normal;
}


/* animations */
@keyframes blink {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}