:root{
    --bg-color: rgba(0, 0, 0, 1);
    --font-color: rgba(167, 167, 167, 1);
    --accent1-color: rgba(74, 74, 240, 1);
}

*{
    font-family: sans-serif;
    box-sizing: border-box;
    font-size: 65px;
}

body {
    position: relative;
    min-width: 98vw;
    height: 95vh; 
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0;
}

/* header section */
header {
    width: 0;
    height: 0;
}

/* main section */
main {
    margin: 0 auto;
    color: var(--font-color);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
}

/* main left */
.snake-game-info-left {
    height: 20%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.section:nth-of-type(1) {
    grid-column: 2;
    grid-row: 1;
}

.section:nth-of-type(2) {
    grid-column: 1;
    grid-row: 1;
}

.section:nth-of-type(3) {
    grid-column: 3;
    grid-row: 1;
}

.section {
    position: relative;
    width: 100%;
}

.snake-game-info-header {
    position: absolute;
    width: 100%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    top: 30%;
    left: 50%;
    color: var(--accent1-color);
}

.snake-game-info-text {
    position: absolute;
    width: 100%;
    transform: translate(-50%, -50%);
    top: 65%;
    left: 50%;
    font-size: 0.5rem;
    margin-top: 60px;
}

.snake-game-info-button, .spacebar-button {
    text-transform: uppercase;
    border: none;
    border-radius: 15px;
    height: 80px;
    width: 300px;
    font-weight: 1000;
    cursor: pointer;
    background: var(--font-color);
    color: black;
    position: absolute;
    bottom: 5%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 0.5rem;
}

.spacebar-button {
    left: 80%;
}

/* main mid */
.snake-game-table{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.7);
}

.snake-game-table-row{
    width: 550px;
    height: 27px;
}

.snake-game-table-pool{
    width: 25px;
    height: 25px;
    margin: 1px;
    background: var(--font-color);
    float: left;
    transition: background-color 0.15s;
}

.snake-game-table-fruit {
    background-color: rgba(255, 0, 0, 0.7);
}

#snake, #snakeFirst{
    background-color: var(--accent1-color);
}

#snakeFirst{
    animation: blink 2s infinite;
}

.snake-game-table-mouse {
    background-color: rgba(255, 166, 0, 0.7);
    animation: blink 1s infinite;
}

/* main right */
.snake-game-info-right {
    display: none;
}

/* footer section */
footer {
    display: none;
}

/* modal */
.snake-modal {
    position: absolute;
    display: none;
    width: 400px;
    height: 220px;
    top: 50%;
    left: 50%;
    border: solid 2px black;
    box-shadow: 3px 3px 10px 3px rgba(0,0,0,0.75);
    background: #FBFFF1;
    transform: translate(-50%,-50%) scale(2.3);
    
}

.snake-modal-baner {
    width: 100%;
    height: 25px;
    background: black;
    opacity: 0.7;
    color: #FBFFF1;
    display: flex;
    align-items: center;
    position: relative;
}

.snake-modal-baner span {
    position: absolute;
    width: 50%;
    text-align: left;
    padding-left: 5px;
    font-size: 0.25rem;
}

.snake-modal-baner-button {
    position: absolute;
    right: 5px;
    color: #FBFFF1;
    border: none;
    background: none;
    font-size: 0.25rem;
}

.snake-modal-text {
    text-align: center;
    /* font-size: 0.35rem; */
}

.snake-modal-text p:first-child {
    font-weight: bold;
    font-size: 0.3rem;
}

.snake-modal-button {
    margin-top: 15px;
    border: none;
    border-radius: 500px;
    height: 25px;
    width: 40px;
    font-weight: bold;
    cursor: pointer;
    background: #8999A6;
    color: black;
    font-size: 0.2rem;
}

#speedModal {
    height: 300px;
}

#restartModal {
    height: 230px;
}

#speedModal .snake-modal-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#speedModal .snake-modal-button {
    width: 100px;
}

.snake-info-button {
    position: absolute;
    top: 1%;
    left: 92%;
    width: 75px;
    height: 75px;
    font-size: 0.9rem;
    font-weight: 600;
    text-align: center;
    border-radius: 1024px;
    color: white;
    border: 5px solid white;
}

#snake-information {
    height: 320px;
    font-weight: normal;
    display: block;
}

.snake-modal-text p {
    font-size: 0.2rem;
}

#snake-information .snake-modal-text {
    padding: 15px 15px;
}

#snake-information .snake-modal-text p:first-child {
    font-weight: normal;
    font-size: 0.2rem;
}

#snake-information .snake-modal-text p:last-of-type {
    font-size: 0.15rem;  
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,-50%);
}


/* animations */
@keyframes blink {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}