:root{
    --bg-color: black;
    --font-color: white;
}

*{
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    min-width: 1000px;
    width: 98%;
    height: 900px; 
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

/* header section */
header {
    color: var(--font-color);
    width: 90%;
    height: 155px;
    border-bottom: 2px solid white;
}

.snake-header-big {
    font-size: 50px;
    text-transform: uppercase;
    background-color: var(--bg-color);
    position: relative;
    margin-bottom: 0;
    letter-spacing: 4px;
} 

.snake-header-small {
    margin-top: -5px;
    font-size: 25px;
}

/* main section */
main {
    color: var(--font-color);
    width: 90%;
    height: 700px;
    display: flex;
    flex-direction: row;
}

/* main left */
.snake-game-info-left {
    height: 100%;
    width: 20%;
}

.snake-game-info-header {
    font-size: 30px;
    color: rgb(74, 74, 240);
}

.snake-game-info-text {
    font-size: 22px;
}

/* main mid */
.snake-game-table{
    height: 100%;
    width: 60%;
    margin: 0 auto;
    margin-left: 15px;
    margin-right: 15px; 
}

.snake-game-table-row{
    width: 550px;
    height: 27px;
    margin: 0 auto;
}

.snake-game-table-row:first-child{
    margin-top: 15px;
}

.snake-game-table-pool{
    width: 25px;
    height: 25px;
    margin: 1px;
    background: #FBFFF1;
    float: left;
    transition: background-color 0.15s;
}

.snake-game-table-fruit {
    background-color: red;
}

#snake, #snakeFirst{
    background-color: rgb(74, 74, 240);
}

#snakeFirst{
    animation: blink 2s infinite;
}

.snake-game-table-mouse {
    background-color: orange;
    animation: blink 1s infinite;
}



/* main right */
.snake-game-info-right {
    height: 100%;
    width: 20%;
}

.snake-game-info-right .snake-game-info-header {
    font-size: 25px;
}

.snake-game-info-right .snake-game-info-text {
    font-size: 17px;
}

.snake-game-info-right img {
    background: white;
    transition: 0.4s all;
    width: 40px;
    height: 40px;
}
#right {
    transform: rotate(90deg);
}

#left {
    transform: rotate(270deg);
}

#down {
    transform: rotate(180deg);
}

#up:hover {
    box-shadow: 0px 0px 10px 0.1px rgba(255,255,255,1);
}

#down:hover {
    transform: rotate(180deg);
    box-shadow: 0px 0px 10px 0.1px rgba(255,255,255,1);
}

#left:hover {
    transform: rotate(270deg);
    box-shadow: 0px 0px 10px 0.1px rgba(255,255,255,1);
}

#right:hover {
    transform: rotate(90deg);
    box-shadow: 0px 0px 10px 0.1px rgba(255,255,255,1);
}

.arrow-hover {
    box-shadow: 0px 0px 10px 0.1px rgba(255,255,255,1);
}

/* footer section */
footer {
    color: var(--font-color);
    display: block;
    width: 90%;
    height: 100px;
    font-size: 10px;
    bottom: 0;
}

/* modal */
.snake-modal{
    position: absolute;
    display: none;
    width: 400px;
    height: 220px;
    top: 50%;
    left: 50%;
    border: solid 2px black;
    box-shadow: 3px 3px 10px 3px rgba(0,0,0,0.75);
    background: #FBFFF1;
    transform: translate(-50%,-50%);
}

.snake-modal-baner{
    width: 100%;
    height: 25px;
    background: black;
    opacity: 0.7;
    color: #FBFFF1;
    display: flex;
    align-items: center;
}

.snake-modal-baner span{
    margin-left: 5px;
}

.snake-modal-baner .fa-times{
    transition: 0.3s all;
    cursor: pointer;
}

.snake-modal-baner-button{
    margin-left: 310px;
    color: #FBFFF1;
    border: 0;
    background: none;
}

.snake-modal-baner .fa-times:hover{
    color: red;
}

.snake-modal-text{
    text-align: center;
    padding-top: 15px;
}

.snake-modal-text p:first-child{
    font-weight: bold;
}

.snake-modal-button{
    margin-top: 15px;
    border: none;
    border-radius: 500px;
    height: 25px;
    width: 40px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s all;
    background: #8999A6;
    color: black;
}

.snake-modal-button:hover{
    color: #FBFFF1;
    background: rgb(74, 74, 240);
}


/* animations */
@keyframes blink {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}