/* color set: 
https://coolors.co/1d3461-090c9b-3d52d5-b4c5e4-fbfff1 
*/

* {
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background: #1D3461;
    min-height: 500px;
    max-width: 80rem;
    margin: 0 auto;
}

/* Class */
.snake-header{
    height: 100px;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    border-bottom: 1px solid #8999A6;
    color: #FBFFF1;
}

.snake-header-big{
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    font-size: 3rem;
    margin-bottom: 0;
    background: #1D3461;
    color: #B4C5E4;
    position: relative;
    animation: text 3s 1; 
}

.snake-header-small{ 
    margin-top: -5px;
    font-size: 1.5rem;
}

.snake-game{
    width: 65rem;
    height: 500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.snake-game-table{
    width: 400px;
    height: 400px;
    margin: 0 auto;
    margin-left: 2rem; 
}

.snake-game-table-row{
    width: 34rem;
    height: 1.5rem;
    margin: 0 auto;
}

.snake-game-table-row:first-child{
    margin-top: 15px;
}

.snake-game-table-pool{
    width: 1.5rem;
    height: 1.5rem;
    margin: 1px;
    background: #FBFFF1;
    float: left;
    transition: background-color 0.15s;
}

.snake-game-info{
    color: #FBFFF1;
    height: 400px;
    margin-top: 0px;
}

.snake-game-info-header{
    text-transform: uppercase;
    font-size: 1.3rem;
}

.snake-game-info-arrow{
    color: #3D52D5;
    margin-right: 10px;
    float: left;
}

.snake-game-info-text{
    font-size: 1rem;
}

.snake-game-info-button{
    width: 7rem;
    border: none;
    border-radius: 0.512rem;
}

.snake-game-table-fruit{
    background: red;
}

/* ID */
#snake {
    background: #3D52D5;
}

#snakeFirst{
    background: #3D52D5;
    animation: blink 2s infinite;
}

#score{
    width: 7rem;
}

@keyframes text {
    0%{
        color: #1D3461;
        margin-bottom: -40px;
    }
    25%{
        letter-spacing: 30px;
        margin-bottom: -40px;
    }
    50%{
        margin-bottom: -40px;
    }
    75%{
        letter-spacing: 0.15rem;
        margin-bottom: -40px;
    }
}

@keyframes blink {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}